.main-grid {
  display: flex;
}

.left-grid {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px; 
}

.map {
  width: 30vw;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-size: 12px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}