<h2>Your bookings</h2>
  <% if current_user.bookings.nil? %>
    <p>No bookings mades yet</p>
  <% else %>
    <% current_user.bookings.each do |booking| %>
    <div class="card-booking-profile">
        <div>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        </div>
        <div class = " card-booking-text ">
          <h3> <%= link_to booking.garden.title, garden_booking_path(booking.garden, booking)  %></h3> 
          <p> <%= booking.garden.address %></p>
          <p>starting at <%=  booking.start_date  %> until <%= booking.end_date %></p>
        </div>
    </div>
    <% end %> 
  <% end  %>

