<meta HTTP-EQUIV="REFRESH" content="10; url=https://www.youtube.com/watch?v=YW5hp_o7FCg">

  <div>
    <%= cl_image_tag("https://res.cloudinary.com/duxof8o3p/image/upload/v1628632987/gardens/secret_g9c3cn.png", crop: :fill) %>
    <br><br>
    <p>Console</p>
    <br><br>
  <iframe id="inlineFrameExample"
      title="Inline Frame Example"
      width="1500"
      height="500"
      src="https://hackertyper.net">
  </iframe>

  </div>


