<div class="container">

<iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width="1200"
    height="500"
    src="https://hackertyper.net">
</iframe>

  <div>
    <%= cl_image_tag("https://res.cloudinary.com/duxof8o3p/image/upload/v1628629603/gardens/newspaper-1_lsdaxj.jpg", width: 1200, crop: :fill) %>
  </div>
</div>