<meta HTTP-EQUIV="REFRESH" content="20; url= queen">


<a data-toggle="modal" data-target="#myModal"></button>
  <%= cl_image_tag("https://res.cloudinary.com/duxof8o3p/image/upload/v1628632987/gardens/secret_g9c3cn.png", crop: :fill) %>
</a>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
          <iframe src="https://hackertyper.net" width="470" height="600" frameborder="2" allowtransparency="false"></iframe>  
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->




