.card-garden {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  height: 280px;
}

.card-garden > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-garden h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-garden p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-garden .card-garden-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-garden-infos .card-garden-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-booking-profile {
  display: flex;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 280px;
  margin: 10px;
  img {
    overflow: hidden;
    height: 280px;
    width: 500px;
    object-fit: cover;
  }
  .card-booking-text {
    margin-left: 30px;
    margin-top: 30px;
  }
}

