.form-style {
  border: hotpink;
  padding: 50px;
  background-color: hotpink;
}

.form-control {
  border: hotpink;
}

input[type=text] {
  border: hotpink;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}